body{
    margin: 0;
    margin-left: 15px;
    margin-right: 10px;
}


.panda-bg-info{
    background-color:#fceae8;
}
.categories img{
    width: 100px;
}
.panda-button{
    text-align: center;
    color:white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.inner{
    overflow: hidden;
}
.card{
    transition: all 2s ease;
}
.card:hover{
    transform: scale(1.1);
}
.cata:hover{
transform: scale(1.1);
}
.hr{
    color: #FF136F;
    padding: 2px;
}